:root {
  /* Colors in "H, S, L" format */
  --colorPrimary050: 273, 22.4%, 90.4%;
  --colorPrimary100: 268, 17.5%, 81%;
  --colorPrimary200: 270, 15.1%, 71.4%;
  --colorPrimary300: 269, 11.8%, 61.8%;
  --colorPrimary400: 269, 9.5%, 52.4%;
  --colorPrimary500: 270, 10%, 43.1%;
  --colorPrimary600: 269, 12%, 34.3%;
  --colorPrimary700: 272, 14.5%, 25.7%;
  --colorPrimary800: 272, 19.1%, 17.5%;
  --colorPrimary900: 272, 26.5%, 9.6%;
  --colorPrimary950: 276, 38.5%, 2.5%;
  --colorPrimary100A: 277, 100%, 89.2%;
  --colorPrimary200A: 272, 56.9%, 70%;
  --colorPrimary300A: 273, 35%, 47.6%;
  --colorPrimary400A: 275, 59.1%, 25.9%;
}
