.Drawer {
  position: static;
  border: none;
  color: inherit;
  width: fit-content;
  padding: 0.5rem;
  background-color: hsla(var(--fontColor), 0.05);
  border-right: 0.0625rem solid hsla(var(--fontColor), 0.1);
  overflow: auto;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.DrawerFixed {
  top: 0;
  left: 0;
  min-width: 15dvw;
  max-width: 80dvw;
  max-height: 100%;
  height: 100dvh;
  background-color: hsl(var(--colorBackground));
}

.DrawerFixed::backdrop {
  background-color: hsla(var(--colorBackground), 0.95);
  backdrop-filter: blur(4px);
}

.DrawerFromRight {
  left: auto;
  border-right: none;
  right: 0;
  border-left: 0.0625rem solid hsla(var(--fontColor), 0.1);
}

.DrawerDialog > button {
  --color: hsl(var(--fontColor));

  width: 100%;
  margin-bottom: 0.5em;
  background-image: linear-gradient(
    225deg,
    hsl(var(--colorError), 0.4) 60%,
    transparent
  );
}

.DrawerDialog > button::before {
  --color: hsl(var(--colorError));

  clip-path: polygon(
    0 var(--edgeSize),
    var(--edgeSize) 0,
    100% 0,
    100% calc(100% - var(--edgeSize)),
    calc(100% - var(--edgeSize)) 100%,
    calc(100% - var(--separation)) calc(100% - var(--borderWidth)),
    calc(100% - var(--borderWidth)) calc(100% - var(--separation)),
    calc(100% - var(--borderWidth)) var(--borderWidth),
    var(--separation) var(--borderWidth),
    var(--borderWidth) var(--separation)
  );
}

.Drawer li {
  list-style: none;
}

.Drawer li > a {
  min-height: 2.25em;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.0125em;
  vertical-align: top;
  cursor: pointer;
  clip-path: var(--shapeBase);
}

.Drawer li > a:focus-visible {
  background-color: hsla(var(--fontColor), 0.1);
}

@media (hover: hover) and (pointer: fine) {
  .Drawer li > a:hover {
    background-color: hsla(var(--fontColor), 0.1);
  }
}

.Drawer li > a:active {
  background-color: hsla(var(--fontColor), 0.05);
}
