.Table {
  inline-size: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.Table thead {
  position: sticky;
  top: -0.0625rem;
  background-color: hsl(var(--fontColorA));
  z-index: 10;
}

.Table th {
  padding-inline: 0.5rem;
  text-align: start;
  vertical-align: middle;
  background-color: hsla(var(--colorBackground), 0.6);
  border: 0.0625rem solid hsl(var(--fontColor), 0.1);
}

.Table thead th button {
  border: none;
  background-color: transparent;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.Table td {
  padding-inline: 0.5rem;
  text-align: start;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: hsla(var(--fontColor), 0.05);
  border: 0.0625rem solid hsl(var(--fontColor), 0.1);
}

.Table tr {
  inline-size: 100%;
  block-size: 3rem;
}

.Table tbody {
  inline-size: 100%;
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  font-size: var(--fontSize300);
}

.Table th:has(button:focus-visible) {
  background-color: hsl(var(--colorBackground), 0.5);
}

@media (hover: hover) and (pointer: fine) {
  .Table th:has(button:hover) {
    background-color: hsl(var(--colorBackground), 0.5);
  }
}

.Table th:has(button:active) {
  background-color: hsla(var(--colorBackground), 0.7);
}

.Table tbody tr {
  opacity: 0.8;
}

.Table tbody tr:has(*:focus-visible) {
  background-color: hsl(var(--fontColorA), 0.1);
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .Table tbody tr:hover {
    background-color: hsl(var(--fontColorA), 0.1);
    opacity: 1;
  }
}

.Table tbody tr:active {
  background-color: hsl(var(--fontColorA), 0.1);
  opacity: 1;
}

.Table tbody tr > td:first-child,
.Table thead tr > th:first-child {
  border-left: 0.25rem solid transparent;
}

.Table tbody tr:has(*:focus-visible) > td:first-child {
  border-left-color: hsl(var(--fontColorA));
}

@media (hover: hover) and (pointer: fine) {
  .Table tbody tr:hover > td:first-child {
    border-left-color: hsl(var(--fontColorA));
  }
}

.Table tbody tr:active > td:first-child {
  border-left-color: hsl(var(--fontColorA));
}

.Table tbody tr button {
  margin-right: 0.25rem;
  color: white;
}

.Table tbody tr button:last-child {
  margin: 0;
}

.Table tbody td:has(button) {
  min-width: 6em;
}

.Table tr th:has(label),
.Table tr td:has(label) {
  inline-size: 0;
}

.Table tr label {
  cursor: pointer;
}

.Table tr label input[type="checkbox"] {
  --size: 1.5em;
  --boxBorder: calc(var(--size) * 0.707107 * 0.125);
  --boxSize: calc(var(--size) * 0.707107 - var(--boxBorder) * 3);

  appearance: none;
  width: var(--boxSize);
  height: var(--boxSize);
  margin: 0 var(--boxSize);
  outline: var(--boxBorder) solid hsla(var(--fontColor), 0.8);
  outline-offset: var(--boxBorder);
  transform: rotate(45deg);
  cursor: pointer;
}

.Table th > label > input[type="checkbox"],
.Table td > label > input[type="checkbox"] {
  display: flex;
}

.Table tr label input[type="checkbox"]:checked {
  background-color: hsla(var(--fontColor), 0.8);
}

.Table tr label input[type="checkbox"]:focus-visible {
  outline-color: hsl(var(--fontColor));
}

.Table tr label input[type="checkbox"]:checked:focus-visible {
  background-color: hsl(var(--fontColor));
}

@media (hover: hover) and (pointer: fine) {
  .Table tr label input[type="checkbox"]:hover {
    outline-color: hsl(var(--fontColor));
  }

  .Table tr label input[type="checkbox"]:checked:hover {
    background-color: hsl(var(--fontColor));
  }
}

.Table tr label input[type="checkbox"]:active {
  outline-color: hsla(var(--fontColor), 0.5);
}

.Table tr label:has(input[type="checkbox"]:disabled) {
  color: hsla(var(--fontColor), 0.25);
}

.Table tr label input[type="checkbox"]:disabled {
  background-color: transparent;
  outline-color: hsla(var(--fontColor), 0.25);
}

.Table tr label span {
  display: none;
}

.TableDense tr {
  block-size: 2rem;
}

.TableDense tr td button {
  min-width: 1.5rem;
  min-height: 1.5rem;
  font-size: 0.7em;
}

.TableDense tbody td:has(button) {
  min-width: 4.5rem;
}

.TableDense tr label input[type="checkbox"] {
  --size: 1.125em;
}
